BOT_TOKEN=your_token
PROJECT_NAME=Crypto Invest Bot
SUPPORT_USERNAME=chromkey
SUPPORT_CHAT_URL=https://t.me/chromkey
BASE_REF_URL=https://t.me/your_bot_username?start=

MIN_DEPOSIT_USDT=0.1
MIN_STAKE_USDT=10
MIN_WITHDRAW_USDT=5
REFERRAL_PERCENT=5

PLAN_DAILY_TITLE=Дневной
PLAN_DAILY_DAYS=1
PLAN_DAILY_PERCENT=1
PLAN_WEEKLY_TITLE=Недельный
PLAN_WEEKLY_DAYS=7
PLAN_WEEKLY_PERCENT=5
PLAN_MONTHLY_TITLE=Месячный
PLAN_MONTHLY_DAYS=10
PLAN_MONTHLY_PERCENT=10
