BOT_TOKEN=
BOT_USERNAME=
SUPPORT_USERNAME=
BANNER_PATH=
MAIN_BANNER_PATH=
WALLET_BANNER_PATH=
INFO_BANNER_PATH=
REFERRALS_BANNER_PATH=
MIN_DEPOSIT_USDT=15
MIN_STAKE_USDT=15
MIN_WITHDRAW_USDT=20
REFERRAL_PERCENT=7
MAIN_ADMIN_ID=123456789
ADMIN_IDS=123456789,987654321
ADMIN_CAN_PROCESS_WITHDRAWS=false
WITHDRAW_NOTIFY_ALL_ADMINS=false
